.navbar {
    background-color: #fff;
    border-bottom: grey 2px solid;
}

.nav {
    margin: 0;
    padding: 0;
}

.item {
    margin :0;
    padding: 10px;
    display: inline-block;

}

.logo {
    margin :0;
    padding: 10px;
    display: inline-block;

}

.logo-title {
    font-size: 1.5em;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    background-color: #a8aeb1;
    color: #fff;
    border-radius: 15px;
}

.navbar a:visited {
    text-decoration: none;
    color: #000;
}