.navbar {
    background-color: #fff;
    border-bottom: grey 2px solid;
    width: 100%;
    display: flex;
    justify-content: flex-start ;
}

.nav {
    margin: 0;
    padding: 10px;;
}

.item {
    margin :0;
    padding: 10px;
}

.logo {
    margin :0;
    padding: 10px;
}

.logo-title {
    font-size: 1.5em;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    background-color: #bdd4f4;
    border-radius: 12px;
}

.navbar a:visited {
    text-decoration: none;
    color: #000;
}